table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

table {
  min-width: 600px;
}

body {
  margin: 20px;
}
