<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}"> -->

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
  <h2>Rectangles</h2>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Color</th>
      <th>Width</th>
      <th>Height</th>
      <th>Link to rectangle</th>
      <th>Button to delete rectangle</th>
    </tr>

    <!-- Making all of the non head rows -->
    <tr th:each="rect: ${rects}">
      <td th:text=${rect.id}></td>
      <td th:text=${rect.name}></td>
      <td th:text=${rect.color}></td>
      <td th:text=${rect.width}></td>
      <td th:text=${rect.height}></td>
      <td><a th:href="@{${'/showrect/' + rect.id}}" th:text="${'rectangle' + rect.id}"></a></td>
      <td>
        <!-- Wrap button into form -->
        <!-- Delete rect at id-->
        <form action="#" th:action="@{${'/delrect/' + rect.id}}" th:method="delete">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit"></button>
        </form>
      </td>
    </tr>

  </table>

  <h2>Add new rectangle</h2>
  <!--th:action post to the submit endpoint -->
  <form th:action=@{/submit} th:object=${rectangle} method=POST>
    <p>Name: <input type=text th:field=*{name} /> </p>
    <p>Color: <input type=text th:field=*{color} /> </p>
    <p>Width (pixels): <input type=number th:field=*{width} /> </p>
    <p>Height (pixels): <input type=number th:field=*{height} /> </p>
    <!--Submit button-->
    <p><input type=submit value=Submit>
    </p>
  </form>
  <a target=_blank href=https://www.w3schools.com/colors/colors_names.asp>List of valid color inputs</a>
</body>